In [41]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\adity\appdata\roaming\python\python312\site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\adity\appdata\roaming\python\python312\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\adity\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\adity\appdata\roaming\python\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\adity\appdata\roaming\python\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\adity\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in c:\users\adity\appdata\roaming\python\python312\site-packages (1.26.4)

In [42]:
!pip install numpy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in c:\users\adity\appdata\roaming\python\python312\site-packages (1.26.4)

In [31]:
import pandas as pd

In [32]:
travel=pd.read_csv("Travel.csv")

In [33]:
travel

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4883,204883,1,49.0,Self Enquiry,3,9.0,Small Business,Male,3,5.0,Deluxe,4.0,Unmarried,2.0,1,1,1,1.0,Manager,26576.0
4884,204884,1,28.0,Company Invited,1,31.0,Salaried,Male,4,5.0,Basic,3.0,Single,3.0,1,3,1,2.0,Executive,21212.0
4885,204885,1,52.0,Self Enquiry,3,17.0,Salaried,Female,4,4.0,Standard,4.0,Married,7.0,0,1,1,3.0,Senior Manager,31820.0
4886,204886,1,19.0,Self Enquiry,3,16.0,Small Business,Male,3,4.0,Basic,3.0,Single,3.0,0,5,0,2.0,Executive,20289.0
4887,204887,1,36.0,Self Enquiry,1,14.0,Salaried,Male,4,4.0,Basic,4.0,Unmarried,3.0,1,3,1,2.0,Executive,24041.0

In [7]:
travel.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [8]:
travel.tail()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
4883,204883,1,49.0,Self Enquiry,3,9.0,Small Business,Male,3,5.0,Deluxe,4.0,Unmarried,2.0,1,1,1,1.0,Manager,26576.0
4884,204884,1,28.0,Company Invited,1,31.0,Salaried,Male,4,5.0,Basic,3.0,Single,3.0,1,3,1,2.0,Executive,21212.0
4885,204885,1,52.0,Self Enquiry,3,17.0,Salaried,Female,4,4.0,Standard,4.0,Married,7.0,0,1,1,3.0,Senior Manager,31820.0
4886,204886,1,19.0,Self Enquiry,3,16.0,Small Business,Male,3,4.0,Basic,3.0,Single,3.0,0,5,0,2.0,Executive,20289.0
4887,204887,1,36.0,Self Enquiry,1,14.0,Salaried,Male,4,4.0,Basic,4.0,Unmarried,3.0,1,3,1,2.0,Executive,24041.0

In [10]:
travel.columns

Index(['CustomerID', 'ProdTaken', 'Age', 'TypeofContact', 'CityTier',
       'DurationOfPitch', 'Occupation', 'Gender', 'NumberOfPersonVisiting',
       'NumberOfFollowups', 'ProductPitched', 'PreferredPropertyStar',
       'MaritalStatus', 'NumberOfTrips', 'Passport', 'PitchSatisfactionScore',
       'OwnCar', 'NumberOfChildrenVisiting', 'Designation', 'MonthlyIncome'],
      dtype='object')

In [11]:
travel.dtypes

CustomerID                    int64
ProdTaken                     int64
Age                         float64
TypeofContact                object
CityTier                      int64
DurationOfPitch             float64
Occupation                   object
Gender                       object
NumberOfPersonVisiting        int64
NumberOfFollowups           float64
ProductPitched               object
PreferredPropertyStar       float64
MaritalStatus                object
NumberOfTrips               float64
Passport                      int64
PitchSatisfactionScore        int64
OwnCar                        int64
NumberOfChildrenVisiting    float64
Designation                  object
MonthlyIncome               float64
dtype: object

In [13]:
df=pd.DataFrame(travel)
df

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4883,204883,1,49.0,Self Enquiry,3,9.0,Small Business,Male,3,5.0,Deluxe,4.0,Unmarried,2.0,1,1,1,1.0,Manager,26576.0
4884,204884,1,28.0,Company Invited,1,31.0,Salaried,Male,4,5.0,Basic,3.0,Single,3.0,1,3,1,2.0,Executive,21212.0
4885,204885,1,52.0,Self Enquiry,3,17.0,Salaried,Female,4,4.0,Standard,4.0,Married,7.0,0,1,1,3.0,Senior Manager,31820.0
4886,204886,1,19.0,Self Enquiry,3,16.0,Small Business,Male,3,4.0,Basic,3.0,Single,3.0,0,5,0,2.0,Executive,20289.0
4887,204887,1,36.0,Self Enquiry,1,14.0,Salaried,Male,4,4.0,Basic,4.0,Unmarried,3.0,1,3,1,2.0,Executive,24041.0

In [46]:
#A
age_to_num_prod_taken=df.groupby(['Age'])['ProdTaken'].sum()
age_to_num_prod_taken

Age
18.0     8
19.0    21
20.0    25
21.0    23
22.0    15
23.0    13
24.0    18
25.0    20
26.0    37
27.0    30
28.0    26
29.0    57
30.0    48
31.0    41
32.0    40
33.0    40
34.0    44
35.0    34
36.0    27
37.0    24
38.0    15
39.0    14
40.0    23
41.0    24
42.0    20
43.0    10
44.0    17
45.0    18
46.0    11
47.0    12
48.0    11
49.0     9
50.0    12
51.0    17
52.0    14
53.0     8
54.0     2
55.0     7
56.0    12
57.0     5
58.0    11
59.0    12
60.0     1
61.0     0
Name: ProdTaken, dtype: int64

In [44]:
age_to_num_prod_taken.plot(kind="bar")

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.

# B
type_contact_to_purchase=df.groupby(['TypeofContact'])['ProdTaken'].sum()
type_contact_to_purchase

In [25]:
#C
city_tier_and_monthly_income=df.groupby(['CityTier'])['MonthlyIncome'].mean()
city_tier_and_monthly_income

CityTier
1    23418.100165
2    23773.161458
3    24023.795549
Name: MonthlyIncome, dtype: float64

In [48]:
#D
pitch_duration_purchase=df.groupby(['ProdTaken'])['DurationOfPitch'].mean()
pitch_duration_purchase

ProdTaken
0    15.169325
1    16.873143
Name: DurationOfPitch, dtype: float64

In [49]:
#E
occupation_prod=df.groupby(['Occupation'])['ProdTaken'].sum()
occupation_prod

Occupation
Free Lancer         2
Large Business    120
Salaried          414
Small Business    384
Name: ProdTaken, dtype: int64

In [50]:
#E
occupation_prod.max()

414

In [63]:
df.replace(['Fe Male','Female'],'Female', inplace=True)

In [66]:
#F
gender_prod=df.groupby(['Gender'])['ProductPitched'].count()
gender_prod

Gender
Female    1972
Male      2916
Name: ProductPitched, dtype: int64

In [68]:
#F
gender_prodtype=df.pivot_table(values='ProductPitched',index='Gender')

TypeError: agg function failed [how->mean,dtype->object]

In [69]:
#G
trips_prodtaken=df.groupby(['NumberOfTrips'])['ProdTaken'].count()
trips_prodtaken

NumberOfTrips
1.0      620
2.0     1464
3.0     1079
4.0      478
5.0      458
6.0      322
7.0      218
8.0      105
19.0       1
20.0       1
21.0       1
22.0       1
Name: ProdTaken, dtype: int64

In [74]:
#H
passport_trips=df.groupby(['Passport'])['NumberOfTrips'].sum()
passport_trips

Passport
0    10836.0
1     4531.0
Name: NumberOfTrips, dtype: float64

In [75]:
#H
passport_prodtaken=df.groupby(['Passport'])['ProdTaken'].sum()
passport_prodtaken

Passport
0    426
1    494
Name: ProdTaken, dtype: int64

In [89]:
#I
pitch_sat = df.groupby(['ProdTaken'])['PitchSatisfactionScore'].value_counts()
pitch_sat

ProdTaken  PitchSatisfactionScore
0          3                         1162
           1                          798
           5                          760
           4                          750
           2                          498
1          3                          316
           5                          210
           4                          162
           1                          144
           2                           88
Name: count, dtype: int64

In [92]:
#J
prod_child = df.groupby(['NumberOfChildrenVisiting'])['ProdTaken'].sum()
prod_child

NumberOfChildrenVisiting
0.0    202
1.0    392
2.0    253
3.0     66
Name: ProdTaken, dtype: int64

In [94]:
#K
gender_prod = df.groupby(['Gender','ProductPitched'])['ProductPitched'].value_counts()
gender_prod

Gender  ProductPitched
Female  Basic              680
        Deluxe             724
        King                82
        Standard           326
        Super Deluxe       160
Male    Basic             1162
        Deluxe            1008
        King               148
        Standard           416
        Super Deluxe       182
Name: count, dtype: int64

In [95]:
#L
marital_prod = df.groupby(['MaritalStatus','ProductPitched'])['ProductPitched'].value_counts()
marital_prod

MaritalStatus  ProductPitched
Divorced       Basic             332
               Deluxe            336
               King               52
               Standard          142
               Super Deluxe       88
Married        Basic             816
               Deluxe            852
               King              126
               Standard          380
               Super Deluxe      166
Single         Basic             511
               Deluxe            221
               King               52
               Standard           50
               Super Deluxe       82
Unmarried      Basic             183
               Deluxe            323
               Standard          170
               Super Deluxe        6
Name: count, dtype: int64

In [99]:
#L
marital_prodtaken = df.groupby(['MaritalStatus'])['ProdTaken'].mean()
marital_prodtaken

MaritalStatus
Divorced     0.130526
Married      0.139316
Single       0.331878
Unmarried    0.243402
Name: ProdTaken, dtype: float64

In [101]:
#M
children_prod = df.groupby(['NumberOfChildrenVisiting','ProductPitched'])['ProductPitched'].value_counts()
children_prod

NumberOfChildrenVisiting  ProductPitched
0.0                       Basic             404
                          Deluxe            391
                          King               31
                          Standard          172
                          Super Deluxe       84
1.0                       Basic             793
                          Deluxe            754
                          King               89
                          Standard          318
                          Super Deluxe      126
2.0                       Basic             517
                          Deluxe            474
                          King               72
                          Standard          198
                          Super Deluxe       74
3.0                       Basic             127
                          Deluxe            112
                          King               17
                          Standard           53
                          Super Deluxe       16
Name: count, dtype: int64

In [102]:
#N
trips_car = df.groupby(['OwnCar'])['NumberOfTrips'].sum()
trips_car

OwnCar
0    5915.0
1    9452.0
Name: NumberOfTrips, dtype: float64

In [106]:
#N
prod_car = df.groupby(['OwnCar'])['ProductPitched'].value_counts()
prod_car

OwnCar  ProductPitched
0       Basic              758
        Deluxe             674
        Standard           258
        Super Deluxe       102
        King                64
1       Basic             1084
        Deluxe            1058
        Standard           484
        Super Deluxe       240
        King               166
Name: count, dtype: int64

In [112]:
#O
income_prod = df.groupby(['MonthlyIncome','ProductPitched'])['ProductPitched'].count()
income_prod

MonthlyIncome  ProductPitched
1000.0         Deluxe            1
4678.0         Deluxe            1
16009.0        Basic             2
16051.0        Basic             2
16052.0        Basic             2
                                ..
38621.0        King              2
38651.0        King              2
38677.0        King              2
95000.0        Basic             1
98678.0        Basic             1
Name: ProductPitched, Length: 2680, dtype: int64